*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'grind-font';
    src: url('grindanddeath_demo-webfont.woff2') format('woff2'),
         url('grindanddeath_demo-webfont.woff') format('woff'),
         url('grindanddeath_demo-webfont.tff') format('truetype');
    font-weight: bolder;
    font-style: normal;

}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    background-color: black;
    overflow-x: hidden;
    width: 100vw;
}
video{
    position: fixed;
    z-index: -1;
    filter: blur(20px);
}
.face-text{
    color: white;
    width: 100%;
    display: flex;
    z-index: -1;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    padding: 50px;
    align-items: flex-start;
}
.new-game{
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 5rem;
    font-family: 'Shippori Mincho', serif;
}
.new-game p:last-of-type{
    font-size: 1.5rem;
}
.game-title{
    font-size: 7rem;
    text-shadow: 5px 0px gray;
    width: 75%;
    display: flex;
    justify-content: center;
}
.heroes{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}
.heroes p{
    font-family: 'grind-font';
    font-size: 4rem;
    margin: 50px;
    color: white;
    text-align: center;
}
.heroes div{
    display: flex;
    justify-content: center;
    margin: 20px 20px;
}
.hero{
    display: flex;
    height: 800px;
    width: 350px;
    position: relative;
}
.hero img{
    position: absolute;
    width: 200px;
    height: 700px;
    z-index: 2;
}
.main-character img{
    top: 20px;
    height: 680px;
}
.main-villian img{
    height: 800px;
    width: 380px;
    top: -70px;
}
.side-character img{
    width: 250px;
    height: 680px;
    top: 20px;
}
.grey-block{
    position: absolute;
    height: 650px;
    width: 350px;
    background-color: rgb(172, 172, 172);
    z-index: 1;
}
#aboutUs{
    color: white;
    font-family: 'grind-font';
    display: flex;
    justify-content: space-between;
    margin: 100px;
    margin-top: 200px;
}
.text-block{
    width: 40%;
    display: flex;
    flex-direction: column;
}
.text-block p{
    font-size: 5rem;
    line-height: 70px;
}
.text-block span{
    font-size: 3rem;
}
#aboutUs p.description{
    font-size: 1.8rem;
    font-family: 'Shippori Mincho', serif;
    line-height: 50px;
    text-align: justify;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 80px;
}
.images-block{
    display: flex;
    justify-content: space-around;
    width: 70%;
}
.images-block div{
    background-color: white;
    height: 500px;
    width: 450px;
    position: relative;
    overflow:hidden;
}
.images-block div p{
    position: absolute;
    font-size: 3rem;
    padding-top: 30px;
    padding-left: 30px;
    text-align: left;
    width: 100%;
    background-color: black;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    bottom: -5px;
    left: -5px;
}
.images-block div img{
    width: 100%;
    height: 100%;
}
footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
footer p{
    margin: 10px;
    font-size: 1.6rem;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
footer a{
    color: #7289d9;
    text-decoration: none;
    margin: 0 10px;
}
.discord{
    width: 50px;
}
footer .discord:hover{
    animation: rotate 1s forwards ease;
}
@keyframes rotate{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
@media (max-width:1679px){
    .about-us{
        flex-direction: column;
    }
    .description{
        margin: 50px;
    }
    .text-block{
        width: 100%;
    }
    .text-block p{
        margin-left: 50px;
        text-align: center;
    }
    .images-block{
        width: 100%;
    }
}
@media (max-width:1579px){
    .game-title p{
        font-size: 5rem;
    }
}
@media (max-width:1450px){
    .nav-bar div.nav-bar-innerBox{
        width: 100%;
    }
}
@media (max-width: 1182px){
    .heroes div{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .heroes div img{
        position: relative;
    }
    .main-villian img{
        position: absolute;
        top: 10px;
    }
    .game-title{
        width: 100%;
    }
}
@media (max-width: 1166px){
    .images-block{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .images-block div{
        margin: 20px;
    }
    .new-game{
        flex-direction: row;
        width: 100%;
    }
    .new-game p{
        margin: 20px;
        text-align: center;
    }
}
@media (max-width: 800px){
    div.nav-bar{
        height: 100vh;
        flex-direction: column;
        width: 100vw;
        z-index: 10;
        justify-content: center;
        align-items: center;
        background-color: black;
    }
    .social a{
        margin: 0;
    }
    .social a img{
        width: 50px;
    }
    .nav-bar-innerBox{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 80%;
    }
    .new-game{
        flex-direction: column;
    }
    .new-game p{
        margin: 0;
    }
    .face-text{
        width: 100%;
    }
    .game-title{
        text-align: center;
    }
    #aboutUs{
        margin: 5px;
    }
    .images-block div, div img{
        width: 70%;
        height: 70%;
    }
    .images-block div p{
        font-size: 1.5rem;
    }
    .text-block p{
        margin: 0;
    }
    #aboutUs p.description{
        margin: 15px;
        font-size: 1.5rem;
        text-align: center;
    }
    footer{
        margin-top: 50px;
    }
    footer p{
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
    }
    footer p a{
        margin: 15px;
    }
}
@media (max-width:555px){
    div.hero{
        width: 100vw;
        height: 80%;
        margin: 100px 0;
    }
    .main-villian img{
        width: 90%;
        height: 90%;
    }
}